body {
  padding-top: 30px;
}

.hero-unit {
  width: 70%;
  margin: 0 auto
}

#game {
  text-align: center;
}

#game .alert {
  margin: 0 auto 10px;
  padding: 8px 14px 8px 14px;
  display: inline-block;
}

#grid {
  width: auto;
  margin: 0 auto 15px;
}

#grid, #grid input:disabled {
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#grid td {
  position: relative;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

#grid, #grid td {
  border-color: #bbb;
}

#grid td.selected, #grid td.selected input {
  color: #c00;
}

#grid td.focused, #grid td.selected {
  background-color: #f1f1f1;
}

#grid input {
  width: 1em;
  margin: 0;
  text-transform: uppercase;
  background-color: transparent;

  /* canceling default bootstrap style for inputs */
  cursor: auto;
  border-color: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;

  -webkit-transition: all 0 ease 0;
     -moz-transition: all 0 ease 0;
       -o-transition: all 0 ease 0;
          transition: all 0 ease 0;
}

#grid input:focus {
  /* canceling default bootstrap style for inputs */
  border-color: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;

  -webkit-transition: all 0 ease 0;
     -moz-transition: all 0 ease 0;
       -o-transition: all 0 ease 0;
          transition: all 0 ease 0;
}

#grid, #grid input {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
