{% extends 'layout.html' %}

{% macro displayFlashes() %}
{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
{%- endmacro %}

{% macro playerBlock(id) %}
{% set player = playerInfos[id] or None %}
  <div class="span3">
    {% if player %}
    <h2>{{ player.name }}</h2>
    <h3>{{ player.score }} points</h3>
    <h4>Words played :</h4>
    <ul>
      {% for word in player.words %}
      <li>{{ word | upper }}</li>
      {% else %}
      <li>None</li>
      {% endfor %}
    </ul>
    {% else %}
    <h2 class="muted">Waiting for another player...</h2>
    <p>Send the link of this page to someone to invite him</p>
    {% endif %}
  </div>
{% endmacro %}

{% block content %}
<h1 id="title">Балда</h1>
<p><strong>Goal:</strong> Each player must add a letter in order to form a new word turn by turn. The number of points you earn is equal to the length of the word you make.</p>
<div class="row">
  {{ playerBlock(0) }}
  <div id="game" class="span6">
    <h2 class="lead">
      {% if currentPlayer != None %}
        {% if currentPlayer == playerId %}
        This is your turn
        {% else %}
        Waiting for {{ playerInfos[currentPlayer].name }} to make a move...
        {% endif %}
      {% elif gameEnded %}
        Game ended! 
        {% if winners | length > 1 %}
        Draw!
        {% else %}
        <strong>{{ playerInfos[winners[0]].name }}</strong> won!
        {% endif %}
        <br><a href="{{ url_for('index') }}">Return to homepage</a>
      {% endif %}
    </h2>
    <table class="table table-bordered" id="grid">
      {% for i in range(gridSize) %}
      <tr>
        {% for j in range(gridSize) %}
        <td data-x="{{i}}" data-y="{{j}}"{% if lastPlayed[i][j] %} class="selected"{% endif %}>
          {%- if gameField[i][j] -%}
          {{ gameField[i][j] | upper }}
          {%- else -%}
          <input type="text" size="1" maxlength="1" pattern="[A-Za-z]" readonly />
          {%- endif -%}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {{ displayFlashes() }}
    {% if playerId == currentPlayer %}
    <form action="{{ url_for('game_doMove', gameId=gameId) }}" class="form-inline" method="POST">
      <p class="text-info">Double click an empty cell to put a letter, then click and drag the word you want to submit</p>
      Word: <strong id="word">None</strong> <input type="submit" class="btn btn-small" value="➠"><br>
      <input type="submit" class="btn btn-small" style="margin-top: 25px" name="pass" value="Pass this turn">
    </form>
    {% endif %}
  </div>
  {{ playerBlock(1) }}
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
  var token = {{ token | tojson | safe }};
  var playerId = {{ playerId | tojson | safe }};
  var currentPlayer = {{ currentPlayer | tojson | safe }};
</script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}
