{% extends 'layout.html' %}

{% macro displayFlashes() %}
{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
{%- endmacro %}

{% macro playerBlock(id) %}
{% set player = playerInfos[id] or None %}
  <div class="span3">
    {% if player %}
    <h2>{{ player.name }}</h2>
    <h3>{{ player.score }} points</h3>
    <h4>Words played :</h4>
    <ul>
      {% for word in player.words %}
      <li>{{ word | upper }}</li>
      {% else %}
      <li>None</li>
      {% endfor %}
    </ul>
    {% else %}
    <h2 class="muted">Waiting for someone...</h2>
    {% endif %}
  </div>
{% endmacro %}

{% block content %}
<div class="row">
  {{ playerBlock(0) }}
  <div id="game" class="span6">
    <h1 class="lead">{% if currentPlayer != None %}{{ playerInfos[currentPlayer].name }}'s turn{% endif %}</h1>
    <table class="table table-bordered" id="grid">
      {% for i in range(gridSize) %}
      <tr>
        {% for j in range(gridSize) %}
        <td data-x="{{i}}" data-y="{{j}}">
          {%- if gameField[i][j] -%}
          {{ gameField[i][j] | upper }}
          {%- else -%}
          <input type="text" size="1" maxlength="1" pattern="[A-Za-z]" disabled />
          {%- endif -%}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {{ displayFlashes() }}
    {% if playerId == currentPlayer %}
    <form action="{{ url_for('game_doMove', gameId=gameId) }}" class="form-inline" method="POST">
      Word: <strong id="word">None</strong> <button type="submit" class="btn btn-small">➠</button>
    </form>
    {% endif %}
  </div>
  {{ playerBlock(1) }}
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
  var token = {{ token | tojson | safe }};
</script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}
