{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="hero-unit">
    <h1>Welcome to Балда</h1>

    <p>This game is a popular Russian word game. There is a grid with a word in the middle. Turn by turn, each player must add a letter to the grid to form a new word. The longer the word, the higher the score. The game ends when the grid is full or when no new word is found.</p>

    <p>This game was made by <strong>Alexandre Blin</strong> and <strong>Tatiana Kulish</strong> for the Agile Web course.<br>
      Click on the button to start a new game :</p>
    <form action="{{ url_for('newgame') }}" method="POST">
    	Game size: <strong id="rangevalue">5x5</strong> <input class="input-small" type="range" min="3" max="9" step="2" value="5" name="dimension"> 
    	<button type="submit" class="btn btn-primary btn-large">New game &raquo;</button>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
  $('input[name="dimension"]').change(function() {
    $('#rangevalue').html($(this).val() + 'x' + $(this).val());
  })
</script>
{% endblock %}
