{% extends 'layout.html' %}

{% macro displayFlashes() %}
{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
{%- endmacro %}

{% macro playerBlock(player) %}
  <div class="span3">
    <h2>{{ player.name }}</h2>
    <h3>{{ player.score }} points</h3>
    <h4>Words played :</h4>
    <ul>
      {% for word in player.words %}
      <li>{{ word }}</li>
      {% else %}
      <li>None</li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% block content %}
<div class="row">
  {{ playerBlock(playerInfos[0]) }}
  <div id="game" class="span6">
    <h1 class="lead">{{ currentPlayer.name }}'s turn</h1>
    <table class="table table-bordered" id="grid">
      {% for i in range(gridSize) %}
      <tr>
        {% for j in range(gridSize) %}
        <td>
          {% if gameField[i][j] %}
          {{ gameField[i][j] | upper }}
          {% else %}
          <input id="{{j}},{{i}}" type="text" size="1" maxlength="1" pattern="[A-Za-z]" data-x="{{j}}" data-y="{{i}}" disabled />
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {{ displayFlashes() }}
    <form class="form-inline" method="POST">
      

      <p>Letter: <strong id="letter" data-default="None">None</strong></p>

      <div class="input-append">
        <input class="input-small" type="text" name="word" placeholder="Word" />
        <button type="submit" class="btn">➠</button>
      </div>
    </form>
  </div>
  {{ playerBlock(playerInfos[1]) }}
</div>
{% endblock %}
