{% extends 'layout.html' %}

{% macro playerBlock(player) %}
  <div class="span3">
    <h3>{{ player.name }}</h3>
    <h4>{{ player.score }} points</h4>
    <h4>Words played :</h4>
    <ul>
      {% for word in player.words %}
      <li>{{ word }}</li>
      {% else %}
      <li>None</li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% block content %}
<h1>Game</h1>
<div class="row">
  {{ playerBlock(playerInfos[0]) }}
  <div class="span6">
    <table class="table table-bordered" id="gamegrid">
      {% for i in range(gridSize) %}
      <tr>
        {% for j in range(gridSize) %}
        <td>
          {% if gameField[i][j] %}
          {{ gameField[i][j] | upper }}
          {% else %}
          <input id="{{j}},{{i}}" type="text" size="1" maxlength="1" pattern="[A-Za-z]" data-x="{{j}}" data-y="{{i}}" disabled />
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
  {{ playerBlock(playerInfos[1]) }}
</div>
{% endblock %}
